:root {
    --color-correct: #6aaa64;
    --color-present: #c9b458;
    --color-absent: #787c7e;
    --color-tone-1: #d3d6da;
    --color-tone-2: #878a8c;
    --color-tone-3: #3a3a3c;
    --color-key-bg: #818384;
    background: #0f172a;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

 *{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
 }

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

/* LOADER STYLE */
.loading{
    display: none;
    position: absolute;
    left: 50%;
    top: 15%;
  .loader {
      width: 48px;
      height: 48px;
      border: 5px solid #FFF;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }
}


/* HEADER */
.game-header {
    width: -webkit-fill-available;
    padding: 15px 30px;
    background: #020617;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

}
.stats{
  display: flex;
  align-items: center;
  gap: 10px;
}
.stats span {
  margin-right: 20px;
}
.stats button{
  color: #fff;
  padding: 8px 5px;
  border-radius: 8px;
  background-color: rgb(0, 97, 161);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  margin-left: 12px;
  &:hover{
    transform: translateY(-3px);
  }
}
.stats select{
  font-size: 14px;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.image{
    width: 35px;
    height: 35px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease-in-out;
    &:hover{
      transform: scale(1.2);
    }
  }
}

.wordle-container {
    /* max-width: 600px; */
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    /* padding: 20px 10px; */
}

.game-body{
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.puzzle-image-container {
    margin-bottom: 20px;
    width: 240px;
    height: 240px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    background-color: #02061765;
    display: flex;
    align-items: center;
    justify-content: center;
}


.puzzle-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-container {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}


/* GRID */
.grid {
    margin: 10px 0 20px;
}


.row {
    display: flex;
    justify-content: center;
}


.row>div {
    width: 65px;
    height: 65px;
    border: 2px solid #032967;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.2rem;
    user-select: none;
    background-color: #02061765;
}

.row.current>div.filled {
    border-color: var(--color-tone-1);
    animation: bounce 0.2s ease-in-out forwards;
}


.row.past>div.green {
    background-color: var(--color-correct);
    border-color: var(--color-correct);
}


.row.past>div.yellow {
    background-color: var(--color-present);
    border-color: var(--color-present);
}


.row.past>div.grey {
    background-color: var(--color-absent);
    border-color: var(--color-absent);
}


/* KEYPAD */
.keypad {
    /* max-width: 520px;
margin: 20px auto 0; */
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.roles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    .role{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    p{
        margin: 0;
        font-size: 14px;
        gap: 10px;
        color: gray;
    }
}
.Green-circle{
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    background-color: var(--color-correct);
}
.Yellow-circle{
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    background-color: var(--color-present);
}
.Grey-circle{
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    background-color: var(--color-tone-2);
}

.key-section{
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.keypad-row {
    display: flex;
    justify-content: center;
    gap: 6px;
}


.keypad .key {
    height: 65px;
    min-width: 60px;
    padding: 0 10px;
    background: #0914499e;
    border: 0.8px solid rgb(124, 124, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
    transition: background 0.2s, transform 0.1s;
    &:hover{
        background-color: #050c33;
    }
}

.key:active {
    transform: translateY(2px);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
}


.key.wide {
    min-width: 70px;
    font-size: 0.85rem;
}


.key.green {
    background: var(--color-correct);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.35);
}

.key.yellow {
    background: var(--color-present);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.35);
}

.key.grey {
    background: var(--color-absent);
    opacity: 0.65;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.35);
}


/* MODAL */
.modal {
    background: rgba(255, 255, 255, 0.95);
    color: #333;
    padding: 20px 40px;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.4rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    display: none;
    /* shown later with JS */
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}


.modal-actions {
    display: flex;
    gap: 1rem;
}


.modal-actions button {
    padding: 0.7rem 1.4rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}


.next-btn {
    background: var(--color-correct);
    color: #fff;
}

.home-btn {
    background: var(--color-tone-3);
    color: #fff;
}


@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* LOADER STYLE */
@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 

@media (min-width : 280px) and (max-width : 767px){
    .game-header{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        h1{
          font-size: 1.5rem;
        }
    }
    .puzzle-image-container{
        width: 180px;
        height: 180px;
    }

    .game-container{
        flex-direction: column;
    }

    .row>div {
        width: 45px;
        height: 45px;
        font-size: 1.2rem;
    }

    .keypad{
        padding: 20px 0px;
        margin-bottom: 30px;
    }
    .keypad .key{
        height: 32px;
        min-width: 32px;
        font-size: 0.6rem;
    }
}