 *{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
 }

body {
  margin: 0;
  background: #0f172a;
  color: #fff;
}

/* HEADER */
.game-header {
  padding: 15px 30px;
  background: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .stats span {
    margin-right: 20px;
  }
}

/* MAIN LAYOUT */
.game-container {
  display: flex;
  align-items: center;
  justify-content: center;

  /* GRID SECTION */
  .grid-section {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 15px;
      animation: UpImage 0.5s ease-in-out;

      img {
        width: 140px;
        height: 140px;
        border-radius: 10px;
      }
      
    }
  }
}

.win{
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0206178c;

    .win-card{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #1e293b;
      padding: 30px;
      border-radius: 15px;
      text-align: center;
      animation: fadeInModal 0.3s ease-out;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      h2{
        font-size: 2.5rem;
        color: #16a34a;
      }
      button{
        background: #16a34a;
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        transition: 0.3s all;
        &:hover{
            background: #15803d;
        }
      }
    }
}
.event-pointer{
    pointer-events: none;
}

/* IMAGE ANIMATION  */
@keyframes fadeInModal {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
@keyframes UpImage {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width : 280px) and (max-width : 767px){
    .game-header{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        h1{
          font-size: 1.5rem;
        }
    }

    .game-container{
        flex-direction: column;
        .grid-section{
            height: calc(100vh - 118px);
            width: 100%;

            .grid{
                grid-template-columns: repeat(4, 1fr);
              gap: 8px;
              img{
                width: 80px;
                height: 80px;
                border-radius: 8px;
              }
        }
        }
    }

    .win{
        .win-card{
          padding: 15px;
          h2{
            font-size: 1.4rem;
          }
          p{
            font-size: 12px;
            margin: 0;
            margin-bottom: 5px;
          }
          button{
            padding: 8px 15px;
            margin-top: 15px;
            margin-right: 0;
          }
        }
    }
}

