 *{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
 }

body {
  margin: 0;
  background: #0f172a;
  color: #fff;
  overscroll-behavior: none;
}

.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100vh;

}

/* HEADER */
.game-header {
    width: 100%;
  padding: 15px 30px;
  background: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loading{
  display: none;
  /* position: absolute;
  left: 48%; */
  .loader {
      width: 48px;
      height: 48px;
      border: 5px solid #FFF;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }
}
.stats{
  display: flex;
  align-items: center;
  gap: 10px;
}
.stats span {
  margin-right: 20px;
}
.stats button{
  color: #fff;
  padding: 8px 5px;
  border-radius: 8px;
  background-color: rgb(0, 97, 161);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  margin-left: 12px;
  &:hover{
    transform: translateY(-3px);
  }
}
.stats select{
  font-size: 14px;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.level{
  display: flex;
  align-items: center;
}
.image-arrow{
    width: 35px;
    height: 35px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease-in-out;
  }
  img:hover{
    transform: scale(1.2);
  }
}

.main-body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.input-sectioon{
    display: flex;
    /* align-items: center; */
    gap: 20px;
    width: 50%;
}

.input {
  width: 100%;
  /* max-width: 220px; */
  height: 50px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

 button{
    font-size: 18px;
  color: #fff;
  padding: 0px 25px;
  border-radius: 8px;
  background-color: rgb(0, 97, 161);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  margin-left: 12px;
  &:hover{
    transform: translateY(-3px);
  }
}

.respons-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    img{
        border-radius: 10px;
    }
    p{
        font-size: 24px;
    }
}

/* LOADER STYLE */
@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 

@media (min-width : 280px) and (max-width : 767px){
  .game-header{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    h1{
      font-size: 1.5rem;
    }
  }

  .main-body{
    padding: 0px 22px;
  }

  .input-sectioon{
    width: 100%;
  }

  button{
    font-size: 16px;
    padding: 0px 20px;
  }

  .respons-section{
    flex-direction: column;
    p{
      font-size: 20px;
    }
  }
}